body {
    background-image: url('https://i.pinimg.com/originals/fe/1f/31/fe1f314de7f9db961da0f82d2096f37d.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner {
    background-color:blanchedalmond;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 3rem;
    margin-left: 1rem;
    color: white;
}

ol {
    font-size: 3rem;
    margin-left: 5rem;
    color: white
}

a {
    color: lightblue
}