:root {
    --bgcolor: #D1372B; 
    --fontcolor: white;
    --headcolor:#D1372B;
    --bodycolor: white;
  }
  * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  body {
    background-color: var(--bodycolor);
    margin: 0;
    padding: 0;
  }
  header, footer {
    color: var(--headcolor);
    padding: 10px;
  }
  header  h1 {
    text-shadow: 2px 2px black;
    margin-top: 0px;
  }
  header img {
    float:left;
    margin-right: 5px;
  }
  /* The navigation menu */
  nav {
    margin: 0;
  }
  .navbar {
    overflow: hidden;
    background-color:  var(--headcolor);
    margin: 0;
    padding: 0;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
      color: black
  }
  
  .navbar a:active {
    color: blue
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
    background-color:  var(--headcolor);
    margin: 0;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color:  var(--headcolor);
    font-family: inherit;
  
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
     color: orange;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 10px;
    background-color:  var(--headcolor);
    width: 100%;
    z-index: 1;
    padding-right: 0;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: yellow;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
  
  section {
    color: var(--fontcolor);
    width: 60%;
    margin: 5% auto;
    border: 2px solid grey;
    padding: 10px;
    background:var(--bgcolor);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black
  }
  footer {
    text-decoration:underline;
    text-align: center;
  }
   @media (max-width: 700px) {
          section {
            width: 90%;
          }
          section:not(section:nth-of-type(3)) { /* will not be applied on the 3rd section containing the youtube video */
            flex-direction: column;
          }
          article {
            width: 90%
          }
          nav {
            text-align: center;
          }
          a:link, a:visited {
            border-right: none;
            border-bottom: 2px solid white;
            display: block;
            padding: 5px 0;
          }
        }